@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf) format('ttf');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Bold.ttf) format('ttf');
    font-weight: bold;
    font-size: normal;
}

$background-color: hsl(235, 18%, 26%);
$button-color: hsl(234, 29%, 20%);
$button-active: hsl(4, 100%, 67%);
$text-box: hsl(231, 7%, 60%);
$form-background: hsl(0, 0%, 100%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: $background-color;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: Roboto, sans-serif;
}

.form {
    background: $form-background;
    padding: 20px;
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    grid-template-areas: 
        "form-container svg-hero";

    .form-info {
        grid-area: form-container;
        padding: 20px;
        max-width: 360px;

        .heading {
            color: $button-color;
            font-size: 3.2rem;
            margin: auto;
        }

        p {
            font-size: 16px;
        }

        .checklist {
            margin: 0;
            padding: 4px;
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        .email-warn {
            display: flex;
            justify-content: space-between;
        }

        h5 {
            margin-bottom: 5px;
        }

        .error-msg {
            color: $button-active;
        }

        input {
            border-radius: 5px;
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            cursor: pointer;
        }

        input[type="email"] {
            border: 2px solid $text-box;
            cursor: pointer;
        }

        input[type="email"].warn {
            border-color: $button-active;
            background: hsl(4, 100%, 67%, 0.2);
            caret-color: $button-active;
            color: $button-active;
        }

        input[type="email"]:focus {
            outline: none;
        }

        input[type="submit"] {
            border: none;
            background: $button-color;
            color: $form-background;
            font-family: Roboto, sans-serif;
            font-weight: 700;
        }

        input[type="submit"]:hover {
            background: $button-active;
        }
    }
    .illustration {
        grid-area: svg-hero;
        width: 100%;
        height: 100%;
        right: 0;
    }

    .illustration2 {
        display: none;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;

    a { 
        color: hsl(228, 45%, 44%);
    }
}

// Success Message

.success-message::before {
    content: url(/assets/images/icon-success.svg);
}


.success-message {
    background: $form-background;
    width: 360px;
    height: 400px;
    padding: 30px;
    border-radius: 30px;

    h1 {
        font-size: 40px;
        margin: 10px auto;
    }

    p {
        font-size: 14px;
        margin: 20px auto;
    }

    button {
        border: none;
        border-radius: 10px;
        background: $button-color;
        width: 100%;
        padding: 20px;
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: $form-background;
        cursor: pointer;
    }

    button:hover {
        background: $button-active;
    }
}

// Media Query

@media (max-width: 768px) {
    .form {            
        .form-info {
            .heading {
                font-size: 1.5rem;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 500px) {
    body {
        background: $form-background;
    }

    .form {
        border-radius: 0;
        width: 100vw;
        min-height: 100vh;
        grid-template-columns: 1fr;
        padding: 0;
        gap: 0;

        grid-template-areas: 
            "svg-hero"
            "form-container";
            
        .form-info {
            .heading {
                font-size: 2.5rem;
            }

            p {
                font-size: 16px;
            }

            input {
                height: 50px;
            }
        }

        .illustration {
            display: none;
        }

        .attribution {
            padding: 10px;
            font-size: 14px;
        }
    }

    .form::before {
        content: url(/assets/images/illustration-sign-up-mobile.svg);
        height: 100%;
        width: 100%;
    }

    .success-message {
        height: 80vh;
        padding-top: 80px;

        h1 {
            font-size: 48px;
            margin: 30px auto;
        }

        p {
            font-size: 15px;
            margin: 30px auto;
        }

        button {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 90vw;
            bottom: 30px;
        }
    }
}

